$light-grey: #F2F2F2;
$white: #FFFFFF;
$black: #000000;
$grey: #828282;

body {
    font-family: "Poppins", sans-serif;
    background-color: $black;
    margin: 50px 85px;
}

.Header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    a {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $white;
        text-decoration: none;
    }

    .Links a {
        margin-right: 86px;
    }

    a.active {
        border-bottom: 2px solid $white;
        color: $white;
    }

    .Icon {
        display: none;
        color: $light-grey;
    }

    button {
        width: 120px;
        padding: 8px;
        border: 1px solid $white;
        font-family: 'Crimson Pro';
        font-weight: 200;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $white;
        background-color: $black;
    }
}

.Container {
    display: flex;
    margin-top: 145px;

    .Section1 {
        width: 40%;
        margin-right: 5%;
    }

    .Title {
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        color: $white;
        font-family: 'Lora';
    }

    .Content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        margin: 40px 0;
    }

    .ReadMoreBtn {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        background-color: $black;
        color: $white;
        padding: 0;

        span {
            margin-left: 10px;
        }
    }

    .InteriorBG {
        width: 95%;
        max-width: 700px;
    }

    .Section2 {
        position: relative;

        .Profile {
            position: absolute;
            width: 300px;
            height: 138px;
            right: 52px;
            // top: 536px;
            top: 75%;
            max-width: 300px;
            background-color: $black;
            padding: 18px;

            .Portfolio {
                display: flex;
            }

            .Image {
                width: 50px;
                border-radius: 50%;
            }

            .Job {
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: $grey;
            }

            .Description {
                margin-top: 20px;
                width: 210px;
                font-family: 'Lora';
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                color: $white;
            }

            .Header {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: $white;
                margin-bottom: 6px;
            }

            .RightSection {
                margin-left: 14px;
            }
        }

    }
}



@media screen and (max-width: 600px) {
    body {
        margin: 20px 12px;
    }

    .Header {
        a:not(:first-child) {
            display: none;
        }

        a.MenuIcon {
            float: right;
            display: block;
        }

        .Links {
            display: none;
        }
    }

    .Header.Responsive {
        height: calc(100vh - 40px);
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;

        .Links {
            display: block;
        }

        .Icon, button {
            display: none;
        }

        .CloseIcon {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }

        a:not(.Icon) {
            float: none;
            display: block;
            text-align: center;
            margin: 0 auto 32px;
            width: fit-content;
        }
    }

    .Container {
        margin-top: 38px;
        display: block;

        .Section1 {
            width: 100%;
        }

        .Content {
            margin: 25px 0;
            width: 250px;
        }

        .Section2 {
            margin-top: 25px;

            .InteriorBG {
                width: 100%;
            }

            .Profile {
                position: absolute;
                width: 300px;
                height: 138px;
                right: 30px;
            }

        }
    }
}